body {
  background-color: #d7cdcc !important;
}

.logo {
  width: 80px;
  height: 50px;
  border-radius: 30px;
}

.container {
  margin-top: 15px;
}

.card-img-top {
  width: 300px !important;
  width: 200px !important;
}

#crow {
  width: 150px !important;
}

.jumbotron-fluid {
  color: 070707 !important;
}

.slide {
  margin-top: 40px;
  margin-bottom: 50px;
}

.textF {
  color: #e86610 !important;
}

.tdr {
  text-align: center;
  color: #e86610;
}

.footer {
  background-color: #252a34;
}

.news {
  margin-bottom: 60px;
}

.newsTittle {
  color: 070707;
  font-size: 40px;
  text-align: center;
  padding: 20px;
}

.updates {
  margin-bottom: 60px;
  padding: 10px;
}

.card-deck {
  margin-bottom: 30px;
}

.img-fluid {
  width: 800px;
  height: 800px;
}

.imgVoz {
  width: 300px;
  height: 300px;
  border-radius: 40px;
}

.imgG {
  border-radius: 40px;
}

.imgCF {
  width: 650px;
  border-radius: 40px;
}

.imgCM {
  width: 550px;
  border-radius: 20px;
}
